<div class="widget">
  <header>
    <div class="header-banner-container row">
      <div class="header-banner" data-action-image="https://www.google.com/maps/about/images/contribute/share-carousel1.jpg">
        <div class="row">
          <nav class="nav">
            <div class="row">
              <div class="arrow-container">
                <a class="nav-arrow icon i-arrow-left"></a>
              </div>
              <h4 class="title">
                TakeAction with takepart
              </h4>
              <div class="arrow-container">
                <a class="nav-arrow icon i-arrow-right"></a>
              </div>
            </div>
          </nav>
        </div>
        <div class="action-status">
          <strong>10 </strong>shared of <em>5,000 </em>goal
          <div class="progress-container">
            <div class="progress-bar" style="width: 25%;"></div>
          </div>
        </div>
        <h2 class="title">
          Sex Sells...Call Out Sexism When You See It
        </h2>
        <h5>
          with <strong>American Association of University Women (AAUW)</strong>
        </h5>
      </div>
    </div>
    <div class="action-intro">
      <div class="row">
        <p>
          Share your comments about the worst instances of sexism you have seen on television.
        </p>
        <a href="">Read More</a>&nbsp;|&nbsp;<a href="">See The Stories</a>
        <div class="sponsor-container">
          <span class="sponsor-label">Promoted by </span><span class="sponsor-name">Victoria's Secret</span>
        </div>
      </div>
    </div>
    <aside class="action-flag">
      <div class="i-triangle-up"></div>
      Can you believe this Carl's Jr Ad?
      <h6>
        3 min
      </h6>
      <div class="flag-footer">
        <div class="icon i-triangle-up"></div>
        <span class="social icon i-facebook"></span>Amanda K
      </div>
    </aside>
    <div class="clearfix"></div>
  </header>
  <main class="hidden">
    <div id="action-form">
      <div class="form-group container-first-name">
        <label for="first-name"></label><input class="form-control" id="first-name" placeholder="First Name *" type="text" />
      </div>
      <div class="form-group container-last-name">
        <label for="last-name"></label><input class="form-control" id="last-name" placeholder="Last Name *" type="text" />
      </div>
      <div class="form-group container-email">
        <label for="email"></label><input class="form-control" id="email" placeholder="Email *" type="text" />
      </div>
      <div class="form-group container-city">
        <label for="city"></label><input class="form-control" id="city" placeholder="City *" type="text" />
      </div>
      <div class="form-group container-message">
        <label for="message"></label><textarea class="form-control" id="message"></textarea>
      </div>
    </div>
    <div class="hidden" id="read-more">
      <h4>
        About the Action
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h4>
        Why it matters
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h4>
        I forgot
      </h4>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="hidden" id="thank-you">
      <h3>
        Thank you for signing the petition!
      </h3>
      <p>
        Now Spread the word so others can sign it too.
      </p>
      <ul class="share">
        <li>
          <a class="facebook icon i-facebook"></a>
        </li>
        <li>
          <a class="twitter icon i-twitter"></a>
        </li>
        <li>
          <a class="googleplus icon i-google_plusone_share"></a>
        </li>
        <li>
          <a class="email icon i-email"></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </main>
  <footer>
    <a class="action-cta" href="#" ng-click="expand()">Share Your Story<span class="icon i-arrow-down"></span></a>
    <span>{{jack}}</span>
    <div class="action-share-links">
      <a><span class="icon i-share"></span>Share</a><a><span class="icon i-arrow-left"></span><span class="icon i-arrow-right"></span>Embed</a>
    </div>
    <div class="clearfix"></div>
  </footer>
</div>
